In [3]:
import os
import pandas as pd
import numpy as np
import random
from datetime import datetime
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation

In [4]:
def load_data(filename):
    try:
        df = pd.read_csv(filename)
        print("Data has",len(df),"rows and", len(df.columns),"columns.")
    except:
        print("Load  " + filename + " data error!")
    return df

In [5]:


def save_data(data ,filename):
    data.to_csv(filename)
    print("save data " + filename)

In [6]:
!ls

Untitled.ipynb            full_data.csv             marine_predict_data_.csv
air_cluster_.csv          insertMarine.py           result.csv
air_cluster_data.csv      insert_db.py              result_00-16_by_month.csv
air_predict_data.csv      join_city.ipynb           result_17-20.csv
air_predict_data_.csv     marine_data.csv           result_17-20_by_month.csv
coordinates.csv           marine_predict_data.csv

In [15]:
dataname = "air_cluster_.csv"
data = load_data(dataname)
coor = load_data("coordinates.csv")
#print(data)
print(coor)
df_export = pd.merge(data, coor, on=['Latitude', 'Longitude'], how='outer')
print(df_export)

Data has 6672 rows and 9 columns.
Data has 1327 rows and 5 columns.
        State   County           City   Latitude   Longitude
0     Alabama  Baldwin       Fairhope  30.497478  -87.880258
1     Alabama  Colbert  Muscle Shoals  34.762619  -87.638097
2     Alabama   DeKalb     Crossville  34.289001  -85.970065
3     Alabama   Elmore       Wetumpka  32.537022  -86.243770
4     Alabama   Etowah      Southside  33.904039  -86.053867
...       ...      ...            ...        ...         ...
1322  Wyoming    Teton        Jackson  43.482560 -110.745260
1323  Wyoming    Teton  Not in a city  44.181836 -110.582638
1324  Wyoming    Uinta  Not in a city  41.373097 -111.042376
1325  Wyoming   Weston      Newcastle  43.845390 -104.205120
1326  Wyoming   Weston  Not in a city  43.873056 -104.191944

[1327 rows x 5 columns]
      Unnamed: 0     CO AQI    SO2 AQI     O3 AQI    NO2 AQI   Latitude  \
0            0.0  33.290323  14.258065  30.145161  90.596774  33.515176
1          245.0  31.322581  11.064516  16.758065  52.967742  33.515176
2          257.0  25.580645  11.548387  19.661290  53.080645  33.515176
3          577.0  24.387097  10.338710  18.032258  52.000000  33.515176
4          915.0  14.677419   4.338710  17.951613  39.564516  33.515176
...          ...        ...        ...        ...        ...        ...
7901         NaN        NaN        NaN        NaN        NaN  43.482560
7902         NaN        NaN        NaN        NaN        NaN  44.181836
7903         NaN        NaN        NaN        NaN        NaN  41.373097
7904         NaN        NaN        NaN        NaN        NaN  43.845390
7905         NaN        NaN        NaN        NaN        NaN  43.873056

       Longitude  label        Date    State  County           City
0    -111.967419    2.0  2000-01-01      NaN     NaN            NaN
1    -111.967419    3.0  2000-12-01      NaN     NaN            NaN
2    -111.967419    4.0  2002-01-01      NaN     NaN            NaN
3    -111.967419    1.0  2003-01-01      NaN     NaN            NaN
4    -111.967419    0.0  2005-01-01      NaN     NaN            NaN
...          ...    ...         ...      ...     ...            ...
7901 -110.745260    NaN         NaN  Wyoming   Teton        Jackson
7902 -110.582638    NaN         NaN  Wyoming   Teton  Not in a city
7903 -111.042376    NaN         NaN  Wyoming   Uinta  Not in a city
7904 -104.205120    NaN         NaN  Wyoming  Weston      Newcastle
7905 -104.191944    NaN         NaN  Wyoming  Weston  Not in a city

[7906 rows x 12 columns]

In [16]:
save_data(df_export, "cluster_wC.csv")

save data cluster_wC.csv

In [19]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim
from geopy import geocoders

In [21]:
geolocator = Nominatim(user_agent='myapplication')
location = geolocator.reverse("48.8588443, 2.2943506")
print (location.raw)
location = geolocator.geocode(city,timeout=None);

{'place_id': 81262851, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 4208595, 'lat': '48.85614465', 'lon': '2.297820393322227', 'display_name': 'Champ de Mars, Rue du Capitaine Scott, Quartier de Grenelle, Paris, Île-de-France, France métropolitaine, 75015, France', 'address': {'tourism': 'Champ de Mars', 'road': 'Rue du Capitaine Scott', 'suburb': 'Quartier de Grenelle', 'city': 'Paris', 'municipality': 'Paris', 'county': 'Paris', 'state': 'Île-de-France', 'country': 'France', 'postcode': '75015', 'country_code': 'fr'}, 'boundingbox': ['48.8522459', '48.8600801', '2.2918711', '2.303791']}