In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('marine_data.csv')
print(df)

       year parameter    result   latitude   longitude
0      2015       PAH   18.6125  70.796680 -158.817640
1      2015       PAH  882.6200  70.896480 -154.517140
2      2015       PAH  293.8100  70.776060 -159.160230
3      2015       PAH  737.4800  70.837720 -158.763280
4      2015       PAH  984.6200  70.510080 -159.780900
...     ...       ...       ...        ...         ...
14851  2013       PAH    0.0700  14.956953  145.629365
14852  2013       PAH    0.1200  14.943792  145.628008
14853  2013       PAH    0.0700  14.949219  145.628712
14854  2013       PAH    0.0500  14.967793  145.616535
14855  2013       PAH    0.0600  14.991043  145.603948

[14856 rows x 5 columns]

In [3]:
df = df[df.result != 0]
print(df)

       year parameter    result   latitude   longitude
0      2015       PAH   18.6125  70.796680 -158.817640
1      2015       PAH  882.6200  70.896480 -154.517140
2      2015       PAH  293.8100  70.776060 -159.160230
3      2015       PAH  737.4800  70.837720 -158.763280
4      2015       PAH  984.6200  70.510080 -159.780900
...     ...       ...       ...        ...         ...
14851  2013       PAH    0.0700  14.956953  145.629365
14852  2013       PAH    0.1200  14.943792  145.628008
14853  2013       PAH    0.0700  14.949219  145.628712
14854  2013       PAH    0.0500  14.967793  145.616535
14855  2013       PAH    0.0600  14.991043  145.603948

[13176 rows x 5 columns]

In [4]:
df.to_csv("new.csv")

In [ ]:
https://stackoverflow.com/questions/29979140/uncaught-typeerror-cannot-read-property-0-of-null-in-d3

    https://www.google.com/search?rlz=1C5CHFA_enTW914TW914&ei=qiG5X5H2DrnfmAXE74vwCg&q=uncaught+TypeError%3A+Cannot+read+property+%270%27+of+null+at+SVGCircleElement.%3Canonymous%3E+d3&oq=uncaught+TypeError%3A+Cannot+read+property+%270%27+of+null+at+SVGCircleElement.%3Canonymous%3E+d3&gs_lcp=CgZwc3ktYWIQA1DjfViaggFgsIgBaAFwAHgAgAGGAYgBggOSAQMzLjGYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwiR87-P6pPtAhW5L6YKHcT3Aq4Q4dUDCA0&uact=5