In [1]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('pollution_us_2000_2016.csv', sep=',')

In [27]:
df.drop(columns=['State Code', 'County Code', 'Site Num', 'Address', 'NO2 Units', 'O3 Units', 'SO2 Units', 'CO Units'], inplace=True)

In [5]:
#df.loc[::4, ['CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour']] = np.nan
#df.fillna(method='bfill', inplace=True)

In [28]:
df_export = df.loc[df['Unnamed: 0'] % 4 == 1]

In [29]:
df_export.tail()

,Unnamed: 0,State,County,City,Date Local,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,...,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1746642,24585,Wyoming,Laramie,Not in a city,2016-03-27,4.277273,23.5,23,22,0.041958,...,10,46,-0.095238,0.0,0,0.0,0.100000,0.1,0,1.0
1746646,24589,Wyoming,Laramie,Not in a city,2016-03-28,8.317391,22.6,6,21,0.041292,...,9,48,0.117391,0.5,7,0.0,0.100000,0.1,0,1.0
1746650,24593,Wyoming,Laramie,Not in a city,2016-03-29,2.564706,3.6,6,3,0.028000,...,23,37,0.143750,0.7,8,0.0,0.006667,0.1,0,1.0
1746654,24597,Wyoming,Laramie,Not in a city,2016-03-30,1.083333,1.6,9,1,0.043917,...,18,44,0.016667,0.1,0,0.0,0.091667,0.1,2,1.0
1746658,24601,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,1.3,5,1,0.045263,...,9,44,-0.022727,0.0,0,0.0,0.100000,0.1,0,1.0

In [30]:
df_export = df_export.reset_index(drop=True)
df_export.drop(columns=['Unnamed: 0'])

,State,County,City,Date Local,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0
1,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,10,27,1.958333,3.0,22,4.0,1.066667,2.3,0,26.0
2,Arizona,Maricopa,Phoenix,2000-01-03,38.125000,51.0,8,48,0.007958,0.016,9,14,5.250000,11.0,19,16.0,1.762500,2.5,8,28.0
3,Arizona,Maricopa,Phoenix,2000-01-04,40.260870,74.0,8,72,0.014167,0.033,9,28,7.083333,16.0,8,23.0,1.829167,3.0,23,34.0
4,Arizona,Maricopa,Phoenix,2000-01-05,48.450000,61.0,22,58,0.006667,0.012,9,10,8.708333,15.0,7,21.0,2.700000,3.7,2,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436663,Wyoming,Laramie,Not in a city,2016-03-27,4.277273,23.5,23,22,0.041958,0.050,10,46,-0.095238,0.0,0,0.0,0.100000,0.1,0,1.0
436664,Wyoming,Laramie,Not in a city,2016-03-28,8.317391,22.6,6,21,0.041292,0.052,9,48,0.117391,0.5,7,0.0,0.100000,0.1,0,1.0
436665,Wyoming,Laramie,Not in a city,2016-03-29,2.564706,3.6,6,3,0.028000,0.040,23,37,0.143750,0.7,8,0.0,0.006667,0.1,0,1.0
436666,Wyoming,Laramie,Not in a city,2016-03-30,1.083333,1.6,9,1,0.043917,0.048,18,44,0.016667,0.1,0,0.0,0.091667,0.1,2,1.0
436667,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,1.3,5,1,0.045263,0.047,9,44,-0.022727,0.0,0,0.0,0.100000,0.1,0,1.0

In [41]:
df_export.to_csv('pollution_us_2000_2016-cleaned.csv')